@model ControlEscolar.Models.Entidades.Cardex

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MateriasAlumno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control"></input>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control"></input>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control"></input>
            </div>
            @for (int i = 0; i < Model.Materias.Count; i++)
            {
                <div class="form-group">
                    <label>@Model.Materias[i].Nombre</label>
                    <input asp-for="Materias[i].Estatus" class="form-chech-input" type="checkbox"></input>

                    <input asp-for="Materias[i].Id" type="hidden" />
                    <input asp-for="Materias[i].Nombre" type="hidden" />
                    <input asp-for="Materias[i].Creditos" type="hidden" />
                </div>
            }

            <div class="form-group">
                <label>Créditos</label>
                <input class="form-control"></input>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
